<% flash.each do |key, message| %>
  <div class="<%= key %>"><%= message %></div>
<% end %>

<h1><%= @movie.name %></h1>
<p><%= @movie.description %></p>
<p><img src="<%= @movie.image_url %>" alt="Movie poster"></p>

<h2>映画詳細</h2>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>公開年</th>
      <th>上映中</th>
      <th>概要</th>
      <th>登録日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @movie.id %></td>
      <td><%= @movie.name %></td>
      <td><%= @movie.year %></td>
      <td><%= @movie.is_showing ? '上映中' : '上映予定' %></td>
      <td><%= @movie.description %></td>
      <td><%= @movie.created_at %></td>
      <td><%= @movie.updated_at %></td>
    </tr>
  </tbody>
</table>

<h2>上映スケジュール</h2>
<table>
  <thead>
    <tr>
    <th>ID</th>
    <th>上映日</th>
    <th>開始時刻</th>
    <th>終了時刻</th>
    <th>劇場・スクリーン</th>
    <th>作成日時</th>
    <th>更新日時</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
    <% @movie.schedules.each do |schedule| %>
      <tr>
        <%= form_with url: reservation_movie_path(movie_id: @movie.id), method: :get, local: true do |form|%>
          <td><%= schedule.id %></td>
          <td><%= schedule.date %></td>
          <td><%= schedule.start_time.strftime("%H:%M:%S") %></td>
          <td><%= schedule.end_time.strftime("%H:%M:%S") %></td>
          <td><%= schedule.screen.screen_theater_name %></td>
          <td><%= schedule.created_at %></td>
          <td><%= schedule.updated_at %></td>
          <td>
            <%= hidden_field_tag :schedule_id, schedule.id %>
            <%= form.submit '座席を予約する' %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
