<div>
  <div>
    <p>予約作成</p>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <div>
      <%= form_with model: [:admin, @reservation_new] do |form|%>
        <div>
          <%= form.label :name, '予約者' %>
          <%= form.collection_select :user_id, User.all, :id, :user_information, prompt: "ユーザを選択してください" %>
        </div>

        <div>
          <%= form.label :schedule_id, 'スケジュール詳細' %>
          <%= form.collection_select :schedule_id, Schedule.all, :id, :schedule_information, prompt: "スケジュールを選択してください" %>
        </div>

        <div>
          <%= form.label :sheet_id, '座席' %>
          <%= form.collection_select :sheet_id, Sheet.all, :id, :sheat_name, prompt: "座席を選択してください" %>
        </div>

        <%= form.submit "予約" %>
      <% end %>
      <%= link_to '戻る', admin_reservations_path %>
    </div>
  </div>
</div>