<div>
  <div>
    <p>予約詳細・編集</p>
      <div>
      <%= form_with model: [:admin, @reservation], url: admin_reservation_path, method: :patch do |form|%>
        <div>
          <%= form.label :sheet_id, '予約者' %>
          <%= form.collection_select :user_id, User.all, :id, :user_information, selected: form.object.user_id %>
        </div>

        <div>
          <%= form.label :schedule_id, 'スケジュール詳細' %>
          <%= form.collection_select :schedule_id, Schedule.all, :id, :schedule_information, selected: form.object.schedule_id %>
        </div>

        <div>
          <%= form.label :sheet_id, '座席', class: 'form-label'%>
          <%= form.collection_select :sheet_id, Sheet.all, :id, :sheat_name, selected: form.object.sheet_id %>
        </div>

        <%= form.submit "編集" %>
      <% end %>
      <%= link_to '戻る', admin_reservations_path %>
      <%= link_to '削除', admin_reservation_path, method: :delete, 'data-confirm' => '本当に削除しますか？' %>
    </div>
  </div>
</div>