<% if flash[:alert] %>
  <div class="alert alert-danger"><%= flash[:alert] %></div>
<% end %>

<h1>予約フォーム</h1>

<%= form_with model: @reservation, url: '/reservations', local: true do |form| %>

  <div>
    <label>映画作品:</label>
    <%= form.hidden_field :movie_id, value: @movie.id %>
    <%= @movie.name %>
  </div>

  <div>
    <label>劇場/スクリーン:</label>
    <%= @schedule.screen.theater.name %> ： <%= @schedule.screen.screen_number %>
  </div>
  
  <div>
    <label>上映日時:</label>
    <%= form.hidden_field :schedule_id, value: params[:schedule_id] %>
    <%= @schedule.date %> <%= @schedule.start_time.strftime("%H:%M:%S") %> - <%= @schedule.end_time.strftime("%H:%M:%S") %>
  </div>
  
  <div>
    <label>座席:</label>
    <%= form.hidden_field :sheet_id, value: params[:sheet_id] %>
    <%= @sheet.row %> - <%= @sheet.column %>
  </div>
  
  <div>
    <label>ユーザID:</label>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= current_user.id %>
  </div>

  <div>
    <label>予約者氏名:</label>
    <%= current_user.name %>
  </div>

  <div>
    <label>予約者メールアドレス:</label>
    <%=  current_user.email %>
  </div>

    <%= form.submit "予約する" %>
<% end %>