<% if flash.any? %>
  <div id="flash_messages">
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>
  </div>
<% end %>

<h1>スケジュール編集</h1>

<%= form_with(model: [:admin, @schedule], local: true) do |form| %>

  <div>
    <label>上映日:</label>
    <%= form.date_field :date, required: true %>
  </div>

  <div>
    <label>開始時刻:</label>
    <%= form.time_field :start_time, required: true %>
  </div>

  <div>
    <label>終了時刻:</label>
    <%= form.time_field :end_time, required: true %>
  </div>

  <div>
  <label>劇場・スクリーン:</label>
  <%= form.collection_select :screen_id, Screen.all, :id, :screen_theater_name, prompt: "劇場・スクリーンを選択してください" %>
  </div>

  <div>
    <%= form.submit "更新" %>
  </div>
<% end %>

<%= link_to '戻る', admin_schedules_path %>
<%= link_to '削除', admin_schedule_path(@schedule),
            method: :delete,
            data: { confirm: 'スケジュールを削除します' } %>