<% if flash.any? %>
  <div id="flash_messages">
    <% flash.each do |type, message| %>
      <div class="flash <%= type %>"><%= message %></div>
    <% end %>
  </div>
<% end %>

<h1>スケジュール一覧</h1>

<%= link_to '新規スケジュール追加', new_admin_schedule_path %>

<% @movies.each do |movie| %>
  <h2>作品名: <%= movie.name %> (作品ID: <%= movie.id %>)</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>上映日</th>
        <th>開始時刻</th>
        <th>終了時刻</th>
        <th>劇場・スクリーン</th>
        <th>作成日時</th>
        <th>更新日時</th>
      </tr>
    </thead>
    <tbody>
      <% movie.schedules.each do |schedule| %>
        <tr>
          <td><%= link_to schedule.id, admin_schedule_path(schedule) %></td>
          <td><%= schedule.date %></td>
          <td><%= schedule.start_time.strftime("%H:%M:%S") %></td>
          <td><%= schedule.end_time.strftime("%H:%M:%S") %></td>
          <td><%= schedule.screen.screen_theater_name %></td>
          <td><%= schedule.created_at %></td>
          <td><%= schedule.updated_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>